<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="./../../../../assets/images/logo.svg"
        alt=""
        width="200"
        height="100"
        class="img-fluid"
      />
    </a>
    <button
      class="navbar-toggler d-lg-none ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-custom-icon"><i class="fas fa-bars"></i></span>
    </button>
    <div class="ms-auto btn-login d-none d-lg-block">
      <a href="" class="btn" type="submit" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Login</a>
    </div>
  </div>
</nav>

<!--====== Modal for various Login Options ====== -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Internal Login Options</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>