<!-- primary header for Emeregency and 24x7 -->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex justify-content-end" id="primaryHeader">
              <div class="emergency d-none d-md-block">
                <p>Emergency | <span>+91-22-4269-9999</span></p>
              </div>
             <div class="second-emergency d-none d-md-block">
                <p> 24x7Hrs   | <span> +91-22-4269-6969</span></p>
             </div>
             <div class="mx-auto d-block d-md-none py-3">
              <p> 24x7Hrs   | <span> +91-22-4269-6969</span></p>
             </div>
            </div>
        </div>
    </div>
</header>