<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 b1" id="loginWrapper">
            <h2 class="text-center py-3">Login</h2>

            <div id="formWrapper">
                <form>
                    <div class="mb-4">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-4">
                        <label for="exampleInputEmail1" class="form-label">User Type</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">Admin</option>
                            <option value="2">Doctor</option>
                            <option value="3">Receiptant</option>
                          </select>
                    </div>

                    <div class="mb-4">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="d-grid mb-2">
                       <button type="submit" class="btn btn-primary">login</button>
                    </div>
                    <div class="d-flex justify-content-end">
                        <span>Don't have an Account ? <a href="#">Sign Up</a></span>
                    </div>

                  </form>
            </div>

        </div>
    </div>
</div>

