$primary-header-background : rgb(193, 61, 91);
// $primary-header-background : #5FB5FB;

$primary-header-color:#fff;
$navbar-icon-color:#3c48b6;
$title-color:#F21745;
$border-color:#5FB5FB;
$achivement-title-color:#A1ff88;
$footer-background:#00375E;