<footer>
    <div class="container-fluid">
        <div class="row p-3">
            <div class="col-12 col-sm-6  col-md-3">
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title ms-2">Departments and Services</h6>
                    <ul class="m-0 p-0">
                        <li><a href="">Center of Excellence </a></li>
                        <li><a href="">Clinical Departments </a></li>
                        <li><a href="">Clinics at KH</a></li>
                        <li><a href="">Support Groups </a></li>
                        <li><a href="">More </a></li>
                       
                    </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title ms-2">Contact</h6>
                    <ul class="m-0 p-0">
                        <li><a href="">Pnone Directory </a></li>
                        <li><a href="">Maps and Directions </a></li>
                        <li><a href="">Enquires </a></li>
                        <li><a href="">Media </a></li>
                        <li><a href="">More </a></li>
                    </ul>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-6  col-md-3">
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title ms-2">Patienst and Visitors</h6>
                    <ul class="m-0 p-0">
                        <li><a href="">Find A Doctor</a></li>
                        <li><a href="">Make An Appointment</a></li>
                        <li><a href="">Testimonial</a></li>
                        <li><a href="">More</a></li>
                    </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title ms-2">Health Information</h6>
                    <ul class="m-0 p-0">
                        <li><a href="">Patient Education </a></li>
                        <li><a href="">Maps and Directions </a></li>
                        <li><a href="">Enquires </a></li>
                        <li><a href="">Media </a></li>
                        <li><a href="">More </a></li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6  col-md-3 ">
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title ms-2">Medical Professionals</h6>
                    <ul class="m-0 p-0">
                        <li><a href="">Find A Doctor</a></li>
                        <li><a href="">Make An Appointment</a></li>
                        <li><a href="">Testimonial</a></li>
                        <li><a href="">More</a></li>
                    </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title ms-2">Site Information</h6>
                    <ul class="m-0 p-0">
                        <li><a href="">Patient Education </a></li>
                        <li><a href="">Maps and Directions </a></li>
                        <li><a href="">Enquires </a></li>
                        <li><a href="">Media </a></li>
                        <li><a href="">More </a></li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6  col-md-3">
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title ms-2">About Us</h6>
                    <ul class="m-0 p-0">
                        <li><a href="">Find A Doctor</a></li>
                        <li><a href="">Make An Appointment</a></li>
                        <li><a href="">Testimonial</a></li>
                        <li><a href="">More</a></li>
                    </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title ms-2">Get In Touch</h6>
                    <ul class="m-0 p-0 d-flex flex-wrap" id="socilIcon">
                        <li><a href=""><i class="fab fa-facebook-square"></i> </a></li>
                        <li><a href=""><i class="fab fa-twitter-square"></i> </a></li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fab fa-youtube-square"></i> </a></li>
                        <li><a href=""><i class="fab fa-instagram"></i> </a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-3">
            <div class="col">
                <div class="main-footer text-center">
                    <p>&#169; All right are reserved | Mindbowser.com. </p>
                </div>
            </div>
        </div>
    </div>
</footer>