<div class="container-fluid">
  <div class="row m-2 p-1">
    <div class="col-md-6">
      <h2>Patients <span id="addPatient"><a href="" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal" title="Register Patient"><i class="fas fa-user-plus"></i></a></span></h2>
      
    </div>

    <div class="col-md-6 ms-auto">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="search patient here..."
          aria-label="Username"
          aria-describedby="addon-wrapping"
        />
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row  p-2">
    <div class="col-12  table-responsive">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Patient ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Email</th>
                <th scope="col">Register Date</th>
                <th scope="col">Refered Doctor</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
               
                <td>@twitter</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>@twitter</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>@twitter</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade " id="exampleModal" tabindex="-1"  data-bs-backdrop="static"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title mx-auto" id="exampleModalLabel">Register Patient</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5">
            <form class="row g-3">
                
                <div class="col-md-6">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstName">
                </div>

                <div class="col-md-6">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastName">
                </div>
                <div class="col-md-6">
                  <label for="mobile" class="form-label">Mobile</label>
                  <input type="text" class="form-control" id="mobile">
                </div>
                <div class="col-md-6">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="col-md-6">
                  <label for="date" class="form-label">Date</label>
                  <input type="date" class="form-control" id="date">
                </div>
                <div class="col-md-6">
                  <label for="inputState" class="form-label">Reffered Doctor</label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>Dr. Ajay Jadhav</option>
                    <option>Dr. Rahul Populawar</option>
                    <option>Dr. Sarthak Maske</option>
                    <option>Dr. Rushi Giri</option>
                  </select>
                </div>
                <div class="col-12 d-grid">
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>