table th {
    background-color: #254d69;
    color: white;
    padding:16px;
}

#addPatient {
    a {
        text-decoration: none;
        color: black;
        i {
            font-size: 1.5rem;
            padding: 0;
        }
    }

    :hover {
        background-color:#1A76FB ;
        color: white;
        display: inline-block;
        padding: 5px;
        border-radius: 10px;
    }
}

input[type='text'] {
    border: 1px solid 1A76FB;
    box-shadow:none;
}