<!-- ====== dyanamic component content ====== -->
<div class="container-fluid">
    <div class="row py-2">
      <div class="col p-0">
        <!-- ====== carousel start here ====== -->
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img
                src="../../../../assets/images/h1.jpg"
                class="d-block w-100 img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="../../../../assets/images/h2.jpg"
                class="d-block w-100 img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="../../../../assets/images/h3.jpg"
                class="d-block w-100 img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="../../../../assets/images/h4.jpg"
                class="d-block w-100 img-fluid"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-custom-icon" aria-hidden="true"
              ><i class="fas fa-angle-left"></i
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-custom-icon" aria-hidden="true"
              ><i class="fas fa-angle-right"></i
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- ====== carousel  end   here ====== -->
      </div>
    </div>
  
    <!-- surgery sectionof main page -->
    <div class="row">
      <div class="col-md-6" id="leftDeptBanner"></div>
      <div class="col-md-6" id="rightDeptInfo">
        <div class="mx-auto heading text-center">
          <span class="title">Our</span>
          <br />
          <span class="sub-title">Departments</span>
        </div>
        <div class="mx-auto feature p-3 text-center">
          <ul class="p-0 m-0">
            <li><a href="">Center of excellence</a></li>
            <li><a href="">Clinical departments</a></li>
            <li><a href="">support groups</a></li>
            <li><a href="">executive health checkups</a></li>
            <li><a href="">outstation clinics</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- ====== Achivements Section Of Main Page ====== -->
    <div class="row">
      <div class="col p-0">
        <div class="achivements-wrap">
          <div class="row m-0">
            <div class="achivement-title text-center p-3">
              <p>Our</p>
              <h2>Unmatched Achivements</h2>
              <p>in the medical field</p>
            </div>
          </div>
  
          <div class="row m-0">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="card p-4">
                <img src="./../../../../assets/images/cancer-surgeries.png" class="card-img-top img-fluid" alt="..."> 
                <div class="card-body text-center">
                  <h2 class="card-title">510<span><i class="fa-solid fa-plus"></i></span></h2>
                  <p class="card-text">Complex <br> Cancer Surgeries</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="card p-4">
                <img src="./../../../../assets/images/robotic-surgeries.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body text-center">
                  <h2 class="card-title">418<span><i class="fa-solid fa-plus"></i></span></h2>
                  <p class="card-text">Doctors from all <br> departments</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="card p-4">
                <img src="./../../../../assets/images/liver-transplants.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body text-center">
                  <h2 class="card-title ">315<span><i class="fa-solid fa-plus"></i></span></h2>
                  <p class="card-text">Liver Transplants</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="card p-4">
                <img src="./../../../../assets/images/docter-department.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body text-center">
                  <h2 class="card-title ">254<span><i class="fa-solid fa-plus"></i></span></h2>
                  <p class="card-text">Robotics Surgeries</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>